<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Sales History</title>
</head>
<body>
    <%-include('../partials/navbar.ejs')%>

    <div class="row">
        <div class="col-2">
            <%-include('../partials/sidebar_sales.ejs')%>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-12">
                    <div class="container">  
                        <h1 class="text-center">HISTORY</h1>
                        <table id="example" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>Branch</th>
                                    <th>Date</th>
                                    <th>BANK</th>
                                    <th>CASH</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                              
                              <%data.forEach((x)=>{%>
                                <tr>
                                    <td></td>
                                    <td><%=x.branch%></td>
                                    <td><%=x.date%></td>
                                    <td><%=x.bankAmount%></td>
                                    <td><%=x.CashAmount%></td>
                                    <td><%=x.total%></td>
        
                                </tr>
                              <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <div class="row text-center">
                        <div class="col-4 border ">
                            <p class="h2">TOTAL IN ACCOUNT</p>
                            <p class="h3"><%=atot%></p>
                        </div>
                        <div class="col-4 border">
                            <p class="h2">TOTAL IN CASH</p>
                            <p class="h3"><%=ctot%></p>

                        </div>
                        <div class="col-4 border">
                            <p class="h2">GRAND TOTAL</p>
                            <p class="h3"><%=gtot%></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%-include('../partials/sales_add_modal.ejs')%>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
<script>
        $(document).ready(function () {
        let t = $('#example').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [],
        });
        t.on('order.dt search.dt', function () {
            let i = 1;
    
            t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();

});
      let base=parseInt(document.getElementById('perItem').value)
     function calcPerAmount() {
        let select=document.getElementById('select')
        let a=parseInt(document.getElementById('perItem').value)
        if(select.value=='collar'){
            document.getElementById('perItem').value=a+3
        }else{
            if(a<=base){
                document.getElementById('perItem').value=30
            }else{
                document.getElementById('perItem').value=a-3
            }
        }
        
    }   
    $("body").on("input", "#no_items", function(){
        $('#total').val(parseInt($('#perItem').val())*parseInt($('#no_items').val()))

    })

</script>     
</body>
</html>